.photo-grid{
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    grid-gap: 16px 16px;
    margin: 0;
    padding: 92px 48px;
    max-width: 1184px;
    max-height: 671px;
}

@media (max-width: 1279px){
    .photo-grid{
        max-width: 928px;
        max-height: 942px;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 225px);
        grid-gap: 14px 14px;
    }
}

@media (max-width: 1023px){
    .photo-grid{
        padding: 88px 24px;
        max-width: 720px;
        max-height: 1664px;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, 264px);
        grid-gap: 16px 16px;
    }
}

@media (max-width: 1023px){
    .photo-grid{
        padding: 64px 16px;
        max-width: 288px;
        max-height: 2724px;
        grid-template-columns: repeat(1, 288px);
        grid-template-rows: repeat(12, 216px);
        grid-gap: 12px 0;
    }
}