.places{
    margin: 0 auto;
    padding: 0;
    max-width: 984px;
}

@media all and (max-width: 1279px){
    .places{
        max-width: 928px;
    }
}

@media all and (max-width: 1023px){
    .places{
        max-width: 720px;
    }
}

@media all and (max-width: 767px){
    .places{
        max-width: 320px;
    }
}