.places{
    margin: 0 148px;
    padding: 0;
    max-width: 984px;
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 1024px) and (max-width: 1279px){
    .places{
        max-width: 928px;
        margin: 0 48px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .places{
        max-width: 720px;
        margin: 0 24px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px){
    .places{
        max-width: 320px;
        margin: 0;
    }
}