.intro__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 690px;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .intro__list{
        max-width: 720px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px){
    .intro__list{
        max-width: 288px;
    }
}