.photo-grid__item{
    max-width: 284px;
    max-height: 213px;
}

@media all and (min-width: 1024px) and (max-width: 1279px){
    .photo-grid__item{
        max-width: 300px;
        max-height: 225px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .photo-grid__item{
        max-width: 352px;
        max-height: 264px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px){
    .photo-grid__item{
        max-width: 288px;
        max-height: 216px;
    }
}