.lead__title{
    margin: 0 auto 0 auto;
    padding: 0;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media all and (max-width: 767px){
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}