.footer__copyright{
    margin: 0;
    padding: 0;
    max-width: 186px;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}

@media all and (min-width: 320px) and (max-width: 767px){
    .footer__copyright{
        line-height: 14px;
        padding: 48px 0 0 0;
    }
}