.intro__text{
    margin: 40px 0 33px 0;
    max-width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media all and (max-width: 1023px){
    .intro__text{
        max-width: 720px;
    }
}

@media all and (max-width: 767px){
    .intro__text{
        max-width: 288px;
    }
}