.lead__subtitle{
    margin: 32px auto 0 auto;
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

@media all and (min-width: 320px) and (max-width: 767px){
    .lead__subtitle{
        margin: 16px auto 0 auto;
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}