.cover{
    margin: 0 auto;
    padding: 92px 0;
    max-width: 1184px;
    min-height: 740px;
}

@media all and (max-width: 1279px){
    .cover{
        max-width: 1024px;
        min-height: 640px;
    }
}

@media all and (max-width: 1023px){
    .cover{
        padding: 90px 0 88px 0;
        max-width: 768px;
        min-height: 480px;
    }
}

@media all and (max-width: 767px){
    .cover{
        padding: 66px 0 64px 0;
        max-width: 320px;
        min-height: 200px;
    }
}