.lead__caption{
    margin: 8px 0 0 0;
    max-width: 158px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .lead__caption{
        margin: 8px 0 0 24px;
    }
}