.place__website{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 456px;
}

@media all and (max-width: 1023px){
    .place__website{
        max-width: 352px;
    }
}

@media all and (max-width: 767px){
    .place__website{
        max-width: 288px;
        padding: 0 16px;
    }
}
